.application{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  h2{
    color: white;
  }
  .send_application{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1300px;
    height: 150px;
    background: #3e3e3e;
    border-radius: 15px;
    div {
      input {
        width: 270px;
        height: 45px;
        background: #3e3e3e;
        padding-left: 25px;
        border: 1px solid orange;
        border-radius: 50px;
        font-family: Roboto Slab;
        margin-right: 15px;
        color: white;
        outline: none;
      }
      .activeInput {
        width: 270px;
        height: 45px;
        background: #3e3e3e;
        padding-left: 25px;
        border: 1px solid orange;
        border-radius: 50px;
        font-family: Roboto Slab;
        margin-right: 15px;
        color: white;
        outline: none;
        box-shadow: 0 0 10px orange;
      }

      button {
        padding: 15px 45px;
        border-radius: 50px;
        background: orange;
        color: white;
        border: 0;
        cursor: pointer;
      }
      p{
        margin: 0;
        position: absolute;
        left: 0;
      }
    }
  }
  
  @media screen and (max-width: 1024px) {
    .send_application{
      width: 1000px;
      height: 200px;
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 768px) {
    .send_application{
      width: 700px;
      height: 350px;
      flex-direction: column;
      div{
        display: flex;
        align-items: center;
        flex-direction: column;
        input{
          margin: 15px 0;
        }
      }
    }
  }

  @media screen and (max-width: 425px){
    .send_application{
      width: 400px;
    }
  }

}

@media screen and (max-width: 380px){
  .application{
    h2{
      text-align: center;
      color: red;
    }
    .send_application{
      width: 300px;
    }
  }
}


@media screen and (max-width: 320px){
  .application{
    h2{
      text-align: center;
    }
    .send_application{
      width: 270px;
      div{
        input{
          width: 250px;
        }
      }
    }
  }
}
