.banner{
  width: 90%;
  height: 70vh;
  padding: 0 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .left{
    h1{
      color: white;
      letter-spacing: 1px;
      display: flex;
      align-items: flex-end;
      p{
        color: orange;
        overflow: hidden;
        border-right: 1px solid #e29508;
        white-space: nowrap;
        margin: 0 15px;
        letter-spacing: .17em;
        animation:
                typing 3.5s steps(30, end),
                blink-caret .7s step-end infinite;
      }
    }
    .buttons{
      display: flex;
      align-items: center;
      button{
        padding: 10px 25px;
        margin-right: 15px;
        background: none;
        border: 2px solid orange;
        color: orange;
        border-radius: 50px;
        cursor: pointer;

        &:hover{
          box-shadow: 0 0 10px orange;
          text-shadow: 0 0 10px orange;
        }
      }
    }
  }
  .right{
    img{
      width: 500px;
      object-fit: cover;
      position: relative;
      &::before{
        content: '';
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  @media screen and (max-width: 1024px){
    .right{
      img{
        width: 300px;
      }
    }
  }
  
  @media screen and (max-width: 768px) {
    .right{
      display: none;
    }
  }

  @media screen and (max-width: 425px) {
    .left{
      h1{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        p{
          margin: 0;
        }
      }
    }
  }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent
  }
  50% {
    border-color: orange
  }
}